.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1.text-center Edit Post
      .panel-body
        .text-center
          %strong Current Image
        %br/
        .text-center= image_tag @post.image.url(:medium), id: 'image-preview'
        %br/
        = render 'form'
    .text-center
      = link_to 'Cancel', @post
      |
      = link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }